<div class="container">
 
  <h2 class="text-center text-danger">{{title}}</h2>
  <button class="btn btn-info" (click)="showChild2()">Show child 2</button>
  <button class="btn btn-danger" (click)="showChild3()">Show child 3</button>

<div class="row">
  <div class="col-md-4">
    <app-child1></app-child1>
  </div>
  <div class="col-md-4">
    <app-child2 *ngIf="isChild2Visible"></app-child2>

  </div>
  <div class="col-md-4">
    <app-child3 *ngIf="isChild3Visible"></app-child3>

  </div>
</div>
</div>